*.pdf
*.xlsx
*.docx
*.zip
*.tar
*.mp3
*.mp4
**/.vscode/
**/__pycache__/
**/.idea/
**__MACOSX/
**/node_modules/
**/nohup.out
**/blog_list.json
.DS_Store
.env
.ipynb_checkpoints/
*.bak/
